body {
	background: #40415a;
}

.resizeable-container {
	background: #d55161;
	width: 60%;
	margin-left: 20%;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

.resizeable-item {
	background: #f0f0f0;
	height: 200px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.resizeableGutter {
}

.resizeable-col-md-1 {
	width: 200px; 
}

.resizeable-col-md-2 {
	width: 400px; 
}

.page-title {
	margin-bottom: 50px;
	color: #fff;
}

.has-background {
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url('http://placekitten.com/g/200/300');
}