body {
	background: #cecece;
}

.resizeable-container {
	background: #fff;
	width: 60%;
	margin-left: 20%;
	padding: 20px;
	border-radius: 5px;
}

.resizeable-item {
	background: #f0f0f0;
}

.resizeableGutter {
}

.col-1 {
	width: 200px; 
  padding-left: 0px;
  margin-bottom: 38px;
  transition: flex .7s;
}

.col-2 {
	width: 400px; 
}

.page-title {
	margin-bottom: 50px;
	color: #e23c26;
}